For Capstone Use

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# 1. Introduction


## 1.1 Background

Seattle is a city which is located at the northwest coast of America by the Pecific Ocean. The coordination of the city center is 47°37'35" N, 122°19'59" W. The total area of Seattle is about 369.2 square kilometers. Rain season starts from November to March next year in Seattle, it is the top 15 city which rains the most in US, and 8th worst traffic condition. but the government is trying to solve the traffic problem. 


## 1.2 Problem

As stated in the Coursera module, the problem now is to use the history traffic accident data with the details to build a model, to predict the severity of the coming traffic accidents based on the details provided.

# 2. Data Preprocessing

## 2.1 Data Obtain

The dataset proveid by Seattle Police Department is very detailed and content-rich. There are 194,673 rows and 38 variables. The data has to be preprocessed before we build the model.

In [10]:
df = pd.read_csv('Data-Collisions.csv')
df.shape

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(194673, 38)

In [4]:
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

## 2.2 Data Preprocessing

From the datas showed above, we can determine that 'SEVERITYCODE' is the dependent variable and some of the variables we can merge and drop to make the dataset more efficient. First, we shall drop some of the data which is unpredictable and the columns which containing lots of 'NaN' values in it.
So the left variables are 'SEVERITYCODE', 'ADDRTYPE', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'ST_COLCODE'.

In [20]:
df_dp1 = df[['SEVERITYCODE', 'ADDRTYPE', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'ST_COLCODE']]
df_dp1.head()

,SEVERITYCODE,ADDRTYPE,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE
0,2,Intersection,Overcast,Wet,Daylight,10
1,1,Block,Raining,Wet,Dark - Street Lights On,11
2,1,Block,Overcast,Dry,Daylight,32
3,1,Block,Clear,Dry,Daylight,23
4,2,Intersection,Raining,Wet,Daylight,10

Then drop the rows contains null values and count the numbers for each variable.

In [21]:
df_dp1 = df_dp1.dropna();
print(df_dp1.isnull().sum().sum())

0

In [22]:
print(df_dp1['SEVERITYCODE'].value_counts())
print(df_dp1['ADDRTYPE'].value_counts())
print(df_dp1['WEATHER'].value_counts())
print(df_dp1['ROADCOND'].value_counts())
print(df_dp1['LIGHTCOND'].value_counts())
print(df_dp1['ST_COLCODE'].value_counts())

1    130637
2     56870
Name: SEVERITYCODE, dtype: int64
Block           123317
Intersection     63448
Alley              742
Name: ADDRTYPE, dtype: int64
Clear                       110494
Raining                      32969
Overcast                     27545
Unknown                      14059
Snowing                        896
Other                          790
Fog/Smog/Smoke                 563
Sleet/Hail/Freezing Rain       112
Blowing Sand/Dirt               49
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64
Dry               123731
Wet                47213
Unknown            14007
Ice                 1192
Snow/Slush           992
Other                124
Standing Water       111
Sand/Mud/Dirt         73
Oil                   64
Name: ROADCOND, dtype: int64
Daylight                    115396
Dark - Street Lights On      48233
Unknown                      12599
Dusk                          5842
Dawn                          2490
Dark - No Street Lights       1525
Dark - Street Lights Off      1184
Other                          227
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64
32    26730
10    23332
14    16743
32    16411
10    11223
      ...
60        1
87        1
54        1
49        1
43        1
Name: ST_COLCODE, Length: 115, dtype: int64

Numberize the data so all the Machine Learning tools can process the data.

In [11]:
from sklearn.preprocessing import LabelEncoder

In [23]:
labelencoder = LabelEncoder()
df_dp1['ADDRTYPE'] = labelencoder.fit_transform(df_dp1['ADDRTYPE'])
df_dp1['WEATHER'] = labelencoder.fit_transform(df_dp1['WEATHER'])
df_dp1['ROADCOND'] = labelencoder.fit_transform(df_dp1['ROADCOND'])
df_dp1['LIGHTCOND'] = labelencoder.fit_transform(df_dp1['LIGHTCOND'])
df_dp1.head()

   SEVERITYCODE  ADDRTYPE  WEATHER  ROADCOND  LIGHTCOND ST_COLCODE
0             2         2        4         8          5         10
1             1         1        6         8          2         11
2             1         1        4         0          5         32
3             1         1        1         0          5         23
4             2         2        6         8          5         10

Now our data set is ready to be processed by ML tools.